.navbar__container{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1.5rem;
        img{
            width: 250px;
            height: 130px;

        }
    }
    .navbar__text{
        display: flex;
        align-items: center;
        h3{
            margin-right: 1.5rem;
            a{
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: bolder;
                text-transform: capitalize;
                color:inherit;
                transition: all 0.5s ease-out;
                border: 0;
                &:hover{
                    color:inherit;
                    font-size: 2rem;
                    border-bottom: 5px solid rgb(44,171,225);;
                }
            }

        }
    }
}